.navbar .nav-link img {
  width: 26px;
}

.navbar #dropdownMenuButton img {
  width: 26px;
}

.navbar .navbar-brand {
  margin-top: -15px;
}

.navbar .navbar-brand img {
  width: 160px;
  padding-top: 30px;
}

