$color-primary: #222222;
$color-primary-2: #212121;
$color-secondary: #dedede;
$color-secondary-2: #f0f0f0;
$color-black: #000000;
$color-green: green;
$color-white: #ffffff;
$color-pink: #fb4bae;
$color-orange: #ff8f15;

$grid-lg: 240px auto 260px;
$grid-minimize: 80px auto 260px;
