.content_profile {
    padding: 0 15px 0 15px;
    .profile-page-menu {
        display: flex;
        justify-content: space-between;
        .tools-item {
            img {
                width: 56px;
            }
            margin-right: 20px;
            padding-right: 20px;
            border-right: 1px solid white;

            &.active {
                border-bottom: 2px solid $color-orange;
                text-align: center;
            }
            &:last-child {
                border-right: none;
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
    .content-profile-body {
        .btn_rounded {
            background: #000000;
            color: #ffffff;
            border-radius: 50px;
            border: none;
            padding: 10px 25px 10px 25px;
            font-size: 20px;
        }
        .adv {
            text-align: center;
            .text-not-have-adv {
                text-align: center;
                margin-top: 100px;
                background: linear-gradient(45deg, #cc0379, #49b2ba);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .btn-adv {
                background: linear-gradient(45deg, #cc0379, #49b2ba);
                color: #ffffff;
                border-radius: 50px;
                border: none;
                padding: 12px 25px 12px 25px;
                font-size: 24px;
            }
        }
        .contacts {
            .contact_list {
                // background-color: $color-secondary-2;
                // color: $color-primary;
                img{
                    height: 70px;
                }
            }
            .btn_create {
                background: linear-gradient(45deg, #cc0379, #49b2ba);
                color: #ffffff;
                border-radius: 50px;
                border: none;
                padding: 12px 25px 12px 25px;
                font-size: 24px;
            }
        }
    }
}
