.profile_banner_photo_container {
    height: 170px;
    width: 100%;
    background-image: url("/images/long-decorate3.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 100px 0 100px 0;
    img {
        width: 230px;
        border-radius: 50%;
        border: 6px solid #ffffff;
    }
}

.container_page {
    display: flex;
    justify-content: center;
}

.profile_content_container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 100px;
    .profile_content_left_section {
        width: 40%;
        @import "box_profile";
    }
    .profile_content_right_section {
        width: 60%;
        @import "content_profile";
    }
}
