.navbar{
    .nav-link{
        img{
            width: 26px;
        }
    }
    #dropdownMenuButton{
        img{
            width: 26px;
        }
    }
    .navbar-brand{
        margin-top: -15px;
        img{
            width: 160px;
            padding-top: 30px;
        }
    }
}